{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

	
	{% block content %}
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg" style="background: #000;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>{{headings.33}}</p>
						<h1>{{headings.34}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="feature-bg" style="background: #000;margin-top:0px; margin-bottom: 0px;max-width: 100%;">
		<div class="container" style="color: #fff;">
			<div class="row">
				
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3" style="color:white; font-size: 30px;">{{headings.35}}</h2>
			
			<div class="row" id="myrow" style="margin-top:90px;margin-left:-85px;margin-left:-13px;">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content" >
										<h3 style="color:white">{{headings.36}}</h3>
										<p style="color:white">{{para.49}}</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<h3 style="color:white">{{headings.37}}</h3>
										<p style="color:white">{{para.50}}</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<h3 style="color:white">{{headings.38}}</h3>
										<p style="color:white">{{para.51}}</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<h3 style="color:white">{{headings.39}}</h3>
										<p style="color:white">{{para.52}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	
	<!-- end featured section -->

	<!-- shop banner -->
	<section class="shop-banner" style="margin-top: 10px; background: #000000">
		<div class="container">
		  <h3 style="color: white">
			{{headings.32}}
		  </h3>
		  <div class="sale-percent">
			<span style="color: white"
			  >Sale! <br />
			  Upto</span
			>50% <span style="color: white">off</span>
		  </div>
		  <a href="shop.html" class="cart-btn btn-lg">{{btnText.6}}</a>
		</div>
	  </section>
	<!-- end shop banner -->

	<!-- team section -->
	<div class="mt-150" style="margin-top: 50px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text" style="color:white">{{headings.40}}</span></h3>
						<p>{{para.53}}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					
					<div class="single-team-item" >
						
						<div class="team-bg team-bg-1" style="max-height:500px;margin-top:0px; background: #000;">
							<img src="{{images.11.image.url}}" alt="" style="height:200px;margin-left:75px;border-radius:20px;">
						<h4 style="color: white;">{{headings.41}} <span style="padding-left:10px;padding-right:10px;">{{para.54}}</span></h4style=color:></div>
						<ul class="social-link-team" style="margin-bottom:-50px">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					
					<div class="single-team-item" >
						
						<div class="team-bg team-bg-1" style="max-height:500px;margin-top:0px; background: #000;">
							<img src="{{images.12.image.url}}" alt="" style="height:200px;margin-left:75px;border-radius:20px;">
						<h4 style="color: white;">{{headings.42}} <span style="padding-left:10px;padding-right:10px;">{{para.55}}</span></h4style=color:></div>
						<ul class="social-link-team" style="margin-bottom:-50px">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					
					<div class="single-team-item" >
						
						<div class="team-bg team-bg-1" style="max-height:500px;margin-top:0px; background: #000;">
							<img src="{{images.13.image.url}}" alt="" style="height:200px;margin-left:75px;border-radius:20px;">
						<h4 style="color: white;">{{heading.43}} <span style="padding-left:10px;padding-right:10px;">{{para.56}}</span></h4style=color:></div>
						<ul class="social-link-team" style="margin-bottom:-50px">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end team section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container" style="background-color: #000;">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{{images.1.image.url}}" alt="">
							</div>
							<div class="client-meta">		
								<h3 style="color: #3a3939;">{{headings.6}}<span style="color: #3a3939;">{{para.10}}</span></h3>
								<p class="testimonial-body">
									{{para.7}}
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{{images.2.image.url}}" alt="">
							</div>
							<div class="client-meta">
								<h3 style="color: #3a3939;">{{headings.7}}<span style="color: #3a3939;">{{para.9}}</span></h3>
								<p class="testimonial-body">
									{{para.8}}
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->

	<!-- Our existence -->
	<div class="latest-news pt-150 pb-150" style="margin-top: 50px;padding-top:5px">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text" style="color:white">{{headings.23}}</span></h3>
						<p>{{para.39}}</p>
					</div>
				</div>
			</div>

			<div class="row" style="justify-content: center;">
				<div class="col-lg-4 col-md-6 text-center" style="max-width: 250px;">
					<div class="single-latest-news" >
						<div class="news-text-box" >
							<h3><a href="single-news.html" style="color:white">{{headings.24}}</a></h3>
							
							<p class="excerpt">{{para.40}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="max-width: 250px;">
					<div class="single-latest-news" >
						<div class="news-text-box">
							<h3><a href="single-news.html" style="color:white">{{headings.25}}</a></h3>
							<p class="excerpt">{{para.41}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center" style="max-width: 250px;">
					<div class="single-latest-news">
						<div class="news-text-box">
							<h3><a href="single-news.html" style="color:white">{{headings.26}}</a></h3>
							<p class="excerpt">{{para.42}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center" style="max-width: 250px;">
					<div class="single-latest-news">
						<div class="news-text-box">
							<h3><a href="single-news.html" style="color:white">{{headings.27}}</a></h3>
							<p class="excerpt">{{para.43}}</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- end logo carousel -->

	
	{% endblock content %}

