{% extends 'base.html' %}
{% load static %}

	<!-- title -->
	{% block title %}Cart{% endblock title %}

	{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">

						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	{% load cart_tag %}
	<!-- cart -->
	<div class="cart-section mb-50" style="background:black;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
									<th class="product-remove"></th>

								</tr>

							</thead>

							<tbody>

								{% for key, value in request.session.cart.items %}
								<tr>
									<td class="product-image">
										<img src="{{ value.image }}" alt="Product Image">
									</td>
									<td class="product-name" style="color:white;">{{ value.name }}</td>
									<td class="product-price" style="color:white;">{{ value.price }}</td>

									<td class="product-quantity" style="color:white;">
										<a href="{% url 'item_decrement' value.product_id %}"
											class="quantity-link minus-link">
											<button class="quantity-btn minus-btn">-</button>
										</a>
										<span>{{ value.quantity }}</span>
										<a href="{% url 'item_increment' value.product_id %}"
											class="quantity-link plus-link">
											<button class="quantity-btn plus-btn">+</button>
										</a>
									</td>

									<td class="product-total" style="color:white;">{{
										value.price|multiply:value.quantity }}</td>
									<td class="product-remove">
										<a href="{% url 'item_clear' key %}" class="remove-link">
											<i class="fas fa-trash-alt" style="color:red;"></i>
										</a>
									</td>
								</tr>

								{% endfor %}
								<td class="product-total-sum" style="color:white;">
									Total: <span id="total-sum">$0.00</span>
								</td>
								<td>
									<h3 style="color:white;">item count</h3>
									<h4 style="color:white;">{{request.session.cart|length}}<h3>
								</td>

							</tbody>


						</table>

						<div>
							<a href="{% url 'checkout' %}" class="boxed-btn mt-4 mx-1" class="boxed-btn">Checkout</a>
						</div>




						<!-- Add options for modifying or removing items from the cart -->

						<!-- Add a checkout button -->

					</div>
				</div>
			</div>
		</div>
	</div>

				<!-- end cart -->


				<!-- end logo carousel -->

				<!-- footer -->




				{% endblock content %}