{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}Cart{% endblock title %}
{% block style %}

{% endblock style %}

{% block content %}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">

					<h1>Cart</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

{% load cart_tag %}
<!-- cart -->
<div class="cart-section mb-50" style="background:black;">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="cart-table-wrap">
					<table class="cart-table">
						<thead class="cart-table-head">
							<tr class="table-head-row">
								<th class="product-image">Product Image</th>
								<th class="product-name">Name</th>
								<th class="product-price">Price</th>
								<th class="product-quantity">Quantity</th>
								<th class="product-total">Total</th>
								<th class="product-remove"></th>

							</tr>

						</thead>

						<tbody>
							{% for key, value in cart_items.items %}
							<tr>
								<td class="product-image">
									<img src="{{ value.image }}" alt="Product Image">
								</td>
								<td class="product-name" style="color:white;">{{ value.name }}</td>
								<td class="product-price" style="color:white;">{{ value.price }}</td>

								<td class="product-quantity" style="color:white;">
									<a href="{% url 'item_decrement' value.product_id %}"
										class="quantity-link minus-link">
										<button class="quantity-btn minus-btn">-</button>
									</a>
									<span>{{ value.quantity }}</span>
									<a href="{% url 'item_increment' value.product_id %}"
										class="quantity-link plus-link">
										<button class="quantity-btn plus-btn">+</button>
									</a>
								</td>

								<td class="product-total" style="color:white;">{{ value.price|multiply:value.quantity }}
								</td>
								<td class="product-remove">
									<a href="{% url 'item_clear' key %}" class="remove-link">
										<i class="fas fa-trash-alt" style="color:red;"></i>
									</a>
								</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="6" class="cart-empty-message">
									<h3 class="empty-cart-text" style="color:white;">The cart is empty.</h3>
								</td>
							</tr>
							{% endfor %}
							{% if not is_empty %}
							<tr>
								<td colspan="5" class="product-total-sum" style="color:white;">
									Total: <span id="total-sum">$ {{ cart_total_amount }}</span>
								</td>
								<td>
									<h6 style="color:white;">Item count: {{ request.session.cart|length }}</h6>
								</td>
							</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
					<div class="col-lg-6 col-md-12">
						<form id="checkout-form-wrap" method="post">
							{% csrf_token %}
							<div class="cart-form">
								<div class="form-group">
									<label for="input1">Name</label>
									<input type="text" name="name" class="form-control" placeholder="Ex: John Doe" required/>
								</div>
								<div class="form-group">
									<label for="input2">Phone</label>
									<input type="tel" name="phone" value="{{form.phone}}" class="form-control" placeholder="+1 XXXXXXXXX" required/>
								</div>
								<div class="form-group">
									<label for="input1">Address</label>
									<input type="text" name="address" value="{{form.address}}" class="form-control" placeholder="address" required />
								</div>
								<div class="form-group">
									<label for="input1">Country</label>
									<input type="text" name="country" value="{{form.phone}}" class="form-control" required/>
								</div>
								<div class="form-group">
									<label for="input1">Pincode</label>
									<input type="number" max="999999" name="pincode" value="{{form.pincode}}" class="form-control" placeholder="6 digit pincode" required/>
								</div>
								
							   </div>
							   {% if not is_empty %}
							   
							   <button type="submit" class="checkout-button boxed-btn mt-4 mx-1" style="background:rgb(44, 215, 25);padding: 7px 20px;color:white;font-weight: 700; border-radius:50px;">Checkout</button>
							   {% endif %}
							
						</form>
					</div>
					<div>
						
					</div>



				</div>
			</div>


			
		</div>
	</div>
</div>

<script>
    document.getElementById('checkout-button').addEventListener('click', function() {
        // Submit the form on button click
        document.getElementById('checkout-form').submit();
        
        // Redirect to PayPal payment page
        
    });
</script>
{% endblock content %}