{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}Cart{% endblock title %}

{% block content %}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">

					<h1>Checkout</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

{% load cart_tag %}
<!-- cart -->
<div class="cart-section mb-50" style="background:black;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="cart-table-wrap">
					<table class="cart-table">
						<thead class="cart-table-head">
							<tr class="table-head-row">
								<th class="product-image">Product Image</th>
								<th class="product-name">Name</th>
								<th class="product-price">Price</th>
								<th class="product-quantity">Quantity</th>
								<th class="product-total">Total</th>

							</tr>

						</thead>

						<tbody>
							{% for key, value in cart_items.items %}
							<tr>
								<td class="product-image">
									<img src="{{ value.image }}" alt="Product Image">
								</td>
								<td class="product-name" style="color:white;">{{ value.name }}</td>
								<td class="product-price" style="color:white;">{{ value.price }}</td>

								<td class="product-quantity" style="color:white;">
									
									<span>x {{ value.quantity }}</span>
									
								</td>

								<td class="product-total" style="color:white;">{{ value.price|multiply:value.quantity }}
								</td>
								
							</tr>
							
							{% endfor %}
							
						</tbody>
					</table>

					

					<div class="justify-content-center">
						<h3 id="total-sum" style="color:white" class="mt-5">Pay:  $ {{ total_price }}</h3>
					   <a class="boxed-btn mt-5 d-block" id="checkout-button"
						   style="width:40% ;text-align: center; padding: 5px 10px; cursor: pointer;width: 50%;">{{paypal_payment_button.render}}</a>
				</div>

				</div>
			</div>
			
			
		</div>
		

		
</div>



{% endblock content %}
