{% extends 'base.html' %}
{% load static %}

{% block title %}Coffee{% endblock title %}
    <!-- end search arewa -->
{% block style %}
#itdevelopement{margin-left:330px}
#companies{margin-left:120px;}
#privateclient{margin-left:270px;}
#medicine{margin-left:20px;}

@media only screen and (max-width: 600px) {
  #itdevelopement,#companies,#privateclient,#medicine {
    margin-left: 300px;
  }
}
.theranges{color:white;}



{% endblock style %}

    {% block content %}
    <!-- breadcrumb-section -->
    
    <div class="breadcrumb-section breadcrumb-bg" style="background: #000">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
              <h1>Coffee</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- featured section -->
    <div
      class="single-product mb-150"
      style="background: #000; margin-top: -2px"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-5" style="margin-top: 40px">
            <div class="single-product-img">
              <img
                src="{{images.10.image.url}}"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-7" style="margin-top: 130px">
            <div class="single-product-content">
              <h3>
                <span class="orange-text" style="color: white"
                  >{{headings.28}}</span
                >
              </h3>
              <p>
                {{para.44}}
              </p>
              <h3 style="margin-top: 20px">
                <span class="orange-text" style="color: white"
                  >{{headings.29}}</span
                >
              </h3>
              <p>
                {{para.45}}
              </p>
              <h3 style="margin-top: 20px">
                <span class="orange-text" style="color: white"
                  >{{headings.30}}</span
                >
              </h3>
              <p>
                {{para.46}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end featured section -->

    <div
      class="single-product mb-150"
      style="background: #000; margin-top: -2px"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-7" style="margin-top: 45px">
            <div class="single-product-content">
              <h3>
                <span class="orange-text" style="color: white"
                  >{{headings.31}}</span
                >
              </h3>
              <p style="color: rgb(44, 215, 25);">
                <i
                  >{{para.47}}</i
                >
              </p>
              <p style="color: white; margin-top: 50px">
                {{para.48}}
              </p>
            </div>
            <div class="w3-light-grey w3-round mt-3" style="background-color: rgb(54, 52, 52); border-radius:20px">
              <div class="w3-container w3-round w3-white" style="width: 80%;background-color: rgb(44, 215, 25);border-radius:20px  0px 0px 20px">
                <span style="color:white;margin-left:20px">IT Development<span> <span class="theranges" id="itdevelopement">80%</span>
              </div>
            </div>
			<div class="w3-light-grey w3-round mt-3" style="background-color: rgb(54, 52, 52);border-radius:20px">
				<div class="w3-container w3-round w3-white" style="width: 42%;background-color: rgb(44, 215, 25);;border-radius:20px  0px 0px 20px">
				 <span style="color:white;margin-left:20px">Companies</span> <span class="theranges" id="companies">42%</span>
				</div>
			  </div>
			  <div class="w3-light-grey w3-round mt-3" style="background-color: rgb(54, 52, 52);border-radius:20px">
				<div class="w3-container w3-round w3-white" style="width: 68%;background-color: rgb(44, 215, 25);border-radius:20px  0px 0px 20px">
				 <span style="color:white;margin-left:20px">Private Clients</span> <span class="theranges" id="privateclient">68%</span>
				</div>
			  </div>
			  <div class="w3-light-grey w3-round mt-3" style="background-color: rgb(54, 52, 52);border-radius:20px">
				<div class="w3-container w3-round w3-white" style="width: 24%;background-color: rgb(44, 215, 25);border-radius:20px  0px 0px 20px">
				<span style="color:white;margin-left:20px">Medicine</span> <span class="theranges" id="medicine">24%</span>
				</div>
			  </div>

          </div>

          <div class="col-md-5" style="margin-top: 40px">
            <div class="single-product-img">
              <img
                src="{{images.10.image.url}}"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- shop banner -->
    <section class="shop-banner" style="margin-top: 10px; background: #000000">
      <div class="container">
        <h3 style="color: white">
          {{headings.32}}
        </h3>
        <div class="sale-percent">
          <span style="color: white"
            >Sale! <br />
            Upto</span
          >50% <span style="color: white">off</span>
        </div>
        <a href="shop.html" class="cart-btn btn-lg">{{btnText.6}}</a>
      </div>
    </section>
    <!-- end shop banner -->

    <!-- team section -->

    <!-- Our existence -->
    <div class="latest-news pt-150 pb-150" style="margin-top: 50px;padding-top:5px">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text" style="color:white">{{headings.23}}</span></h3>
						<p>{{para.39}}</p>
					</div>
				</div>
			</div>

			<div class="row" style="justify-content: center;">
				<div class="col-lg-4 col-md-6 text-center" style="max-width: 250px;">
					<div class="single-latest-news" >
						<div class="news-text-box" >
							<h3><a href="single-news.html" style="color:white">{{headings.24}}</a></h3>
							
							<p class="excerpt">{{para.40}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="max-width: 250px;">
					<div class="single-latest-news" >
						<div class="news-text-box">
							<h3><a href="single-news.html" style="color:white">{{headings.25}}</a></h3>
							<p class="excerpt">{{para.41}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center" style="max-width: 250px;">
					<div class="single-latest-news">
						<div class="news-text-box">
							<h3><a href="single-news.html" style="color:white">{{headings.26}}</a></h3>
							<p class="excerpt">{{para.42}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center" style="max-width: 250px;">
					<div class="single-latest-news">
						<div class="news-text-box">
							<h3><a href="single-news.html" style="color:white">{{headings.27}}</a></h3>
							<p class="excerpt">{{para.43}}</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
    <!-- end logo carousel -->

    {% endblock content %}
