{% extends 'base.html' %}
{% load static %}

{% block title %}Primo Roasting Equipment{% endblock title %}




{% block content %}
	<!-- hero area -->
	<div class="hero-area hero-bg bg-dark">
		<video class="hero-bg-video" autoplay loop muted>
			<source src="{% static 'img\backgroundImage.mp4' %}" type="video/mp4">
		</video>
		<div class="container" style="width:100%">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">{{headings.0}}</p>
							<h1 style="font-size: 20px">{{para.0}}</h1>
							<div class="hero-btns">
								<a href="{% url 'instantquote' %}" class="boxed-btn">{{btnText.0}}</a>
								<a href="{% url 'contact' %}" class="bordered-btn">{{btnText.1}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	
	<!-- features list section -->
	<div class="list-section pt-80 pb-80" style="background-color:black;">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3 style="color:white">American Made</h3>
							<p style="color:white">{{para.1}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3 style="color:white">{{headings.1}}</h3>
							<p style="color:white">{{para.2}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3 style="color:white">{{headings.2}}</h3>
							<p style="color:white">{{para.3}}</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">


			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVJc4bDYKBCC904zsezdJOXfLnfPlNLbP6A86VV6HnNQ&usqp=CAU&ec=48665701"
								alt="" style="border-radius:60%;height:50px;width:50px;">
						</div>
						<h3 style="color: white">{{headings.3}}</h3>
						<p class="product-price" style="color: white"><span>{{para.4}}</span></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVJc4bDYKBCC904zsezdJOXfLnfPlNLbP6A86VV6HnNQ&usqp=CAU&ec=48665701"
								alt="" style="border-radius:60%;height:50px;width:50px;">
						</div>
						<h3 style="color: white">{{headings.4}}</h3>
						<p class="product-price" style="color: white"><span>{{para.5}}</span></p>

					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVJc4bDYKBCC904zsezdJOXfLnfPlNLbP6A86VV6HnNQ&usqp=CAU&ec=48665701"
								alt="" style="border-radius:60%;height:50px;width:50px;">
						</div>
						<h3 style="color: white">{{headings.5}}</h3>
						<p class="product-price" style="color: white"><span>{{para.6}}</span></p>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- cart banner section -->
	<section class="cart-banner pt-10 pb-100">
		<div class="container" style="background-color: #000;">
			<div class="row clearfix">
				<!--Image Column-->
				<div class="image-column col-lg-6" style="max-width:600px">
					<div class="image">

						<img class="machine-image" src="{{images.4.image.url}}" alt="" height="600" width="600"
							style="border-radius:20px;">
					</div>
				</div>
				<!--Content Column-->
				<div class="content-column col-lg-6">
					<div class="col">
						<div class="row">
							<div class="col">
								<img class="machine-image1" src="{{images.6.image.url}}" alt="" height="260"
									style="border-radius:20px;">
							</div>
							<div class="col">
								<img class="machine-image1 mt-4 ml-2" src="{{images.7.image.url}}" alt="" height='260'
									style="border-radius:20px;">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<img class="machine-image1 mt-3" src="{{images.8.image.url}}" alt="" height='260'
									style="border-radius:20px;">
							</div>
							<div class="col">
								<img class="machine-image1 mt-4 ml-2" src="{{images.9.image.url}}" alt="" height='260'
									style="border-radius:20px;">
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</section>
	<!-- end cart banner section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container" style="background-color: #000;">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{{images.1.image.url}}" alt="">
							</div>
							<div class="client-meta">
								<h3 style="color: #3a3939;">{{headings.6}}<span
										style="color: #3a3939;">{{para.10}}</span></h3>
								<p class="testimonial-body">
									{{para.7}}
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{{images.2.image.url}}" alt="">
							</div>
							<div class="client-meta">
								<h3 style="color: #3a3939;">{{headings.7}}<span
										style="color: #3a3939;">{{para.9}}</span></h3>
								<p class="testimonial-body">
									{{para.8}}
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->

	<!-- advertisement section -->
	<div class="abt-section mb-100">
		<div class="container" style="color:white;">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg"
						style="background:#000; display: flex; justify-content: center; align-items: center;">
						<img src="{{images.5.image.url}}" alt="" class="center">
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p style="color:white;text-align:center">{{para.11}}</p>
						<a href="{% url 'about' %}" class="boxed-btn mt-4">{{btnText.2}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->

	<!-- shop banner -->
	<section class="shop-banner">
		<div class="container" style="background-color: #000;">
			<h3 style="color: white">
				{{headings.8}}</span></h3>
			<p class="product-price" style="color: white"><span>
					{{para.12}}</span></p>
			<a href="{% url 'shoproaster' %}" class="cart-btn btn-lg">{{btnText.3}}</a>
			<a href="{% url 'shoproaster' %}" class="cart-btn btn-lg">{{btnText.4}}</a>
		</div>
	</section>
	<!-- end shop banner -->

	<!-- latest news -->
	<div class="latest-news pt-90 pb-50">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text" style="color:white">{{headings.9}}</span></h3>
						<p>{{para.13}}</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-latest-news">
						<div class="news-text-box">
							<h3><a href="single-{% url 'blog' %}" style="color:white">{{headings.10}}</a></h3>

							<p class="excerpt">{{para.14}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-latest-news">
						<div class="news-text-box">
							<h3><a href="single-{% url 'blog' %}" style="color:white">{{headings.11}}</a></h3>
							<p class="excerpt">{{para.15}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-latest-news">
						<div class="news-text-box">
							<h3><a href="single-{% url 'blog' %}" style="color:white">{{headings.12}}</a></h3>

							<p class="excerpt">{{para.16}}</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	
	{% endblock content %}
	<!-- footer -->
	