<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/" />

	<!-- title -->
	<title>Quote</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" />
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" />
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}" />
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}" />
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
	<style>
		.form-control {
			width: 300px;
			/* Set the desired width */
			border-radius: 30px;
			background-color: transparent;
			color: white;
			box-shadow: 2px 2px #2cd719;
		}

		.form-control:focus {
			/* background-color: 0 0 3px 1px #2cd719; */
			border-color: #ccc;
			background-color: transparent;
			box-shadow: none;
		}




		.left-column .form-control::placeholder,
		.middle-column .form-control::placeholder,
		.right-column .form-control::placeholder {
			color: white;
		}

		.drpdn-plch {
			display: none;
		}

		.form-control option:hover {
			background-color: green;
			color: white;
		}


		.left-column {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-end;
			top: -23px;
		}

		.middle-column {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			top: -11px;

		}

		.right-column {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}

		@media only screen and (max-width: 480px) {
			.mean-bar {
				margin-top: 90px;
			}
			.right-column {
				align-items: center;
			justify-content: center;
			}
			.left-column {
				align-items: center;
			justify-content: center;
			}

			.footer-area div.container div.row div.col-lg-3:first-of-type {
				display: flex;
				justify-content: right;
				align-items: center;
			}

			.footer-area div.container div.row div.col-lg-3:nth-of-type(2) {
				width: 80%;
				max-width: 1200px;
				padding: 0 0 10px 0;
				margin-left: 10px;
				box-sizing: border-box;
			}

			.footer-area div.container div.row div.col-lg-3:nth-of-type(3) {
				width: 80%;
				max-width: 1200px;
				padding: 0 0 10px 0;
				margin-left: 10px;
				box-sizing: border-box;
			}
		}
	</style>
</head>

<body>
	<!--PreLoader-->
	<!-- <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> -->
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'home' %}">
								<img src="{{image3.image.url}}" alt="" />
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item">
									<a href="{% url 'home' %}">{{nav0.items}}</a>
								</li>
								<li><a href="{% url 'coffee' %}">{{nav1.items}}</a></li>
								<li><a href="{% url 'shoproaster' %}">{{nav2.items}}</a></li>
								<li><a href="{% url 'about' %}">{{nav3.items}}</a></li>
								<li><a href="{% url 'spareparts' %}">{{nav6.items}}</a></li>
								<li><a href="{% url 'contact' %}">{{nav4.items}}</a></li>
								<li><a href="{% url 'blog' %}">{{nav5.items}}</a></li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i
												class="fas fa-shopping-cart"></i></a>
										<a href="{% url 'instantquote' %}" class="boxed-btn"
											style="padding: 5px 10px">Instant Quote</a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show boxed-btn" href="{% url 'instantquote' %}"
							style="width: 30%; margin-left: 50%">Instant Quote</a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords" />
							<button type="submit">
								Search <i class="fas fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords" />
							<button type="submit">
								Search <i class="fas fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg" style="background: #000">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Build Your Custom Machine Today</h1><br>
						<p>Xr-Series Care Free Roasting</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="single-product mb-15" style="background: #000; margin-top: -2px">
		<div class="container" style="color: #fff">
			<h3 style="color: #fff">Instant Quote</h3>

			<!-- <div class="row" style="margin-top: 90px; justify-content: center; width: 100%;"> -->
			<!-- <div class="row" style="margin-top: 90px; justify-content: center"> -->
			<form method="post">
				<div class="row">
					<div class="col-md-4 left-column">
						<div class="form-group">
							<label for="input1"></label>
							<input type="text" id="input1" class="form-control" placeholder="First Name">
						</div>
						<div class="form-group">
							<label for="input2"></label>
							<input type="email" id="input2" class="form-control" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="input3"></label>
							<select id="input3" class="form-control">
								<option disabled selected value class="drpdn-plch">Select Roaster Size1</option>
								<option value="Genesis-Xr3" aria-selected="false" class="drpdn-opt">Genesis-Xr3</option>
								<option value="Ranger-Xr5" aria-selected="false" class="drpdn-opt">Ranger-Xr5</option>
								<option value="Raven-Xr15" aria-selected="false" class="drpdn-opt">Raven-Xr15</option>
								<option value="Sentinel-Xr20" aria-selected="false" class="drpdn-opt">Sentinel-Xr20
								</option>
								<option value="Warden-Xr30" aria-selected="false" class="drpdn-opt">Warden-Xr30</option>
							</select>
						</div>
						<div class="form-group">
							<label for="input4"></label>
							<select id="input4" class="form-control">
								<option disabled selected value class="drpdn-plch" class="drpdn-opt">Select Roaster Type
								</option>
								<option value="Barley Roaster" aria-selected="false" class="drpdn-opt">Barley Roaster
								</option>
								<option value="Cacao Roaster" aria-selected="false" class="drpdn-opt">Cacao Roaster
								</option>
								<option value="Chili Roaster" aria-selected="false" class="drpdn-opt">Chili Roaster
								</option>
								<option value="Coffee Roaster" aria-selected="false" class="drpdn-opt">Coffee Roaster
								</option>
								<option value="Grape Seed Roaster" aria-selected="false" class="drpdn-opt">Grape Seed
									Roaster</option>
								<option value="Hemp Roaster" aria-selected="false" class="drpdn-opt">Hemp Roaster
								</option>
								<option value="Millet Roaster" aria-selected="false" class="drpdn-opt">Millet Roaster
								</option>
								<option value="Noodle Roaster" aria-selected="false" class="drpdn-opt">Noodle Roaster
								</option>
								<option value="Nut Roaster" aria-selected="false" class="drpdn-opt">Nut Roaster</option>
								<option value="Sesame Seed Roaster" aria-selected="false" class="drpdn-opt">Sesame Seed
									Roaster</option>
								<option value="Woodchip Roaster" aria-selected="false" class="drpdn-opt">Woodchip
									Roaster</option>
							</select>
						</div>
						<div class="form-group">
							<label for="input5"></label>
							<select id="input5" class="form-control">
								<option disabled selected value class="drpdn-plch">Gas Type</option>
								<option value="Natural Gas" aria-selected="false" class="drpdn-opt">Natural Gas</option>
								<option value="Propane ($300.00 USD*)" aria-selected="false" class="drpdn-opt">Propane
									($300.00 USD*)</option>
							</select>
						</div>
					</div>
					<div class="col-md-4 middle-column">
						<div class="form-group">
							<label for="input6"></label>
							<input type="text" id="input6" class="form-control" placeholder="Last Name">
						</div>
						<div class="form-group">
							<label for="input7"></label>
							<input type="tel" id="input7" class="form-control" placeholder="Phone">
						</div>
						<div class="form-group">
							<label for="input8"></label>
							<select id="input8" class="form-control">
								<option disabled selected value class="drpdn-plch">Voltage</option>
								<option value="110 V" aria-selected="false" class="drpdn-opt">110 V</option>
								<option value="220 V" aria-selected="false" class="drpdn-opt">220 V</option>
							</select>
						</div>
						<div class="form-group">
							<label for="input9"></label>
							<select id="input9" class="form-control">
								<option disabled selected value class="drpdn-plch">Color</option>
								<option value="Gloss Black" aria-selected="false" class="drpdn-opt">Gloss Black</option>
								<option value="Gloss White" aria-selected="false" class="drpdn-opt">Gloss White</option>
								<option value="Matte Black" aria-selected="false" class="drpdn-opt">Matte Black</option>
								<option value="Matte White" aria-selected="false" class="drpdn-opt">Matte White</option>
								<option value="Design Package ($2450.00 USD*)" aria-selected="false" class="drpdn-opt">
									Design Package ($2450.00 USD*)</option>
							</select>
						</div>
						<div class="form-group">
							<label for="input10"></label>
							<select id="input10" class="form-control">
								<option disabled selected value class="drpdn-plch">First Responder</option>
								<option value="Yes" aria-selected="false" class="drpdn-opt">Yes</option>
								<option value="No" aria-selected="false" class="drpdn-opt">No</option>
							</select>
						</div>
					</div>
					<div class="col-md-4 right-column">
						<div class="form-group">
							<label for="input11"></label>
							<select id="input11" class="form-control">
								<option disabled selected value class="drpdn-plch">Do you need financing?</option>
								<option value="Yes" aria-selected="false" class="drpdn-opt">Yes</option>
								<option value="No" aria-selected="false" class="drpdn-opt">No</option>
							</select>
						</div>
						<div class="form-group">
							<label for="input12"></label>
							<select id="input12" class="form-control">
								<option disabled selected value class="drpdn-plch">Roaster Trade-In?</option>
								<option value="Yes" aria-selected="false" class="drpdn-opt">Yes</option>
								<option value="No" aria-selected="false" class="drpdn-opt">No</option>
							</select>
						</div>
						<div class="form-group">
							<div>Additional Add-On's</div>
							<div class="form-check">
								<input type="checkbox" id="checkbox1" class="form-check-input">
								<label for="checkbox1" class="form-check-label">Standard Unit (NO Additional
									Cost*)</label>
							</div>
							<div class="form-check">
								<input type="checkbox" id="checkbox2" class="form-check-input">
								<label for="checkbox2" class="form-check-label">Aspirated Burners ($2,000.00
									USD*)</label>
							</div>
							<div class="form-check">
								<input type="checkbox" id="checkbox3" class="form-check-input">
								<label for="checkbox3" class="form-check-label">Design Package (2,450.00 USD*)</label>
							</div>
							<div class="form-check">
								<input type="checkbox" id="checkbox4" class="form-check-input">
								<label for="checkbox4" class="form-check-label">Double Walled Drum ($1,000.00
									USD*)</label>
							</div>
							<div class="form-check">
								<input type="checkbox" id="checkbox5" class="form-check-input">
								<label for="checkbox5" class="form-check-label">Manual Drum Speed ($1,000.00
									USD*)</label>
							</div>
							<div class="form-check">
								<input type="checkbox" id="checkbox6" class="form-check-input">
								<label for="checkbox6" class="form-check-label">USB Profile Software ($750.00
									USD*)</label>
							</div>
							<div class="form-check">
								<input type="checkbox" id="checkbox7" class="form-check-input">
								<label for="checkbox7" class="form-check-label">Industrial Afterburner ($21,845.00
									USD*)</label>
							</div>
							<div class="form-check">
								<input type="checkbox" id="checkbox8" class="form-check-input">
								<label for="checkbox8" class="form-check-label">On-Site Roaster Tuning ($5,000.00
									USD*)</label>
							</div>
						</div>
					</div>
				</div>
				<a class="boxed-btn mt-5 d-block" style="width:40% ;text-align: center; padding: 5px 10px; cursor: pointer;" onclick="submitForm()">Instant Quote</a>
				<a href="https://www.primoroasting.com/book-online" class="boxed-btn mt-5 d-block" style="width:40%; text-align: center; padding: 5px 10px; cursor: pointer;">Need Help?</a>
			</form>






			<!-- </div> -->
			<!-- </div> -->
		</div>

		<!-- footer -->
		<div class="footer-area" style="padding-bottom: 50px">
			<div class="container" style="margin-right: 0px">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="footer-box get-in-touch">
							<h2 class="widget-title">{{para17.para}}</h2>
							<ul>
								<li>{{para18.para}}</li>
								<li>{{para19.para}}</li>
								<li>{{para20.para}}</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box pages">
							<h2 class="widget-title">{{para21.para}}</h2>
							<ul>
								<li><a href="{% url 'home' %}">{{nav0.items}}</a></li>
								<li><a href="{% url 'about' %}">{{nav3.items}}</a></li>
								<li><a href="{% url 'shoproaster' %}">{{nav2.items}}</a></li>
								<li><a href="{% url 'blog' %}">{{nav5.items}}</a></li>
								<li><a href="{% url 'contact' %}">{{nav4.items}}</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box subscribe">
							<h2 class="widget-title">{{para22.para}}</h2>
							<p>{{para23.para}}</p>
							<form action="{% url 'home' %}">
								<input type="email" placeholder="Email" style="border-radius: 20px 0px 0px 20px" />
								<button type="submit" style="border-radius: 0px 20px 20px 0px">
									<i class="fas fa-paper-plane"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end footer -->

		<!-- copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<p>
							Copyrights &copy; 2023 -
							<a href="https://primoroasting.com/">{{para24.para}}</a>{{para25.para}}
						</p>
					</div>
					<div class="col-lg-6 text-right col-md-12">
						<div class="social-icons">
							<ul>
								<li>
									<a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end footer -->
		
		
		
		<script>
			function submitForm() {
			  document.getElementById("myForm").submit();
			}
		  </script>
		<!-- jquery -->
		<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
		<!-- bootstrap -->
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- count down -->
		<script src="{% static 'js/jquery.countdown.js' %}"></script>
		<!-- isotope -->
		<script src="{% static 'js/jquery.isotope-3.0.6.min.js' %}"></script>
		<!-- waypoints -->
		<script src="{% static 'js/waypoints.js' %}"></script>
		<!-- owl carousel -->
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<!-- magnific popup -->
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<!-- mean menu -->
		<script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
		<!-- sticker js -->
		<script src="{% static 'js/sticker.js' %}"></script>
		<!-- main js -->
		<script src="{% static 'js/main.js' %}"></script>
</body>

</html>