{% extends 'base.html' %}
{% load static %}

{% block title %}Roaster Comparison{% endblock title %}
	<!-- end search arewa -->

{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg" style="background: #000">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Comparison</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section right image-->
	<div class="single-product mb-15" style="background: #000; margin-top: -2px">
		<div class="container">
			<div class="row">
				<div class="col-md-5" style="margin-top: 40px">
					<div class="single-product-img">
						<img src="{{image14.image.url}}" alt="" style="box-shadow: 0 0 20px black;" />
					</div>
				</div>
				<div class="col-lg-7 d-flex align-items-center">
					<div class="featured-text">
						<h3 style="color:rgb(44, 215, 25);; justify-content: center;">
							SENTINEL-Xr20</h3>

						<div class="row" style="margin-top:90px; justify-content: center;">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<p style="color:white">Max Batch Capacity</p>
										<h3 style="color:white">
											45 lbs / (20.41 Kg)</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<p style="color:white">Maximum Hourly Roast Output</p>
										<h3 style="color:white">
											approx. 65.31 Kg / (144 lbs)</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<p style="color:white">Voltage</p>
										<h3 style="color:white">
											110 V / 220 V</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<p style="color:white">Maximum BTUs Per Hour</p>
										<h3 style="color:white">
											120,000 BTU/hr</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end featured section -->

	<!-- featured section left image-->
	<div class="single-product mb-15" style="background: #000; margin-top: -2px">
		<div class="container">
			<div class="row">

				<div class="col-lg-7 d-flex align-items-center">
					<div class="featured-text">
						<h3 style="color:rgb(44, 215, 25);; justify-content: center;">
							GENESIS-Xr3</h3>

						<div class="row" style="margin-top:90px; justify-content: center;">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<p style="color:white">Max Batch Capacity</p>
										<h3 style="color:white">
											6 lbs / (2.72 Kg)</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<p style="color:white">Maximum Hourly Roast Output</p>
										<h3 style="color:white">

											approx. 9.07 Kg / (20 lbs)</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<p style="color:white">Voltage</p>
										<h3 style="color:white">
											110 V</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<p style="color:white">Maximum BTUs Per Hour</p>
										<h3 style="color:white">
											24,000 BTU/hr</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5" style="margin-top: 40px">
					<div class="single-product-img">
						<img src="{{image15.image.url}}" alt="" style="box-shadow: 0 0 20px black;" />
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end featured section -->

	<!-- featured section right image-->
	<div class="single-product mb-15" style="background: #000; margin-top: -2px">
		<div class="container">
			<div class="row">
				<div class="col-md-5" style="margin-top: 40px">
					<div class="single-product-img">
						<img src="{{image16.image.url}}" alt="" style="box-shadow: 0 0 20px black;" />
					</div>
				</div>
				<div class="col-lg-7 d-flex align-items-center">
					<div class="featured-text">
						<h3 style="color:rgb(44, 215, 25);; justify-content: center;">
							RANGER-Xr5</h3>
						<div class="row" style="margin-top:90px; justify-content: center;">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<p style="color:white">Max Batch Capacity</p>
										<h3 style="color:white">
											12 lbs / (5.4 Kg)</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<p style="color:white">Maximum Hourly Roast Output</p>
										<h3 style="color:white">

											approx. 18.14 Kg / (40 lbs)</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<p style="color:white">Voltage</p>
										<h3 style="color:white">

											110 V</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<p style="color:white">Maximum BTUs Per Hour</p>
										<h3 style="color:white">
											48,000 BTU/hr</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end featured section -->

	<!-- featured section left image-->
	<div class="single-product mb-15" style="background: #000; margin-top: -2px">
		<div class="container">
			<div class="row">

				<div class="col-lg-7 d-flex align-items-center">
					<div class="featured-text">
						<h3 style="color:rgb(44, 215, 25);; justify-content: center;">
							RAVEN-Xr15</h3>
						<div class="row" style="margin-top:90px; justify-content: center;">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<p style="color:white">Max Batch Capacity</p>
										<h3 style="color:white">

											35 lbs / (15 Kg)</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<p style="color:white">Maximum Hourly Roast Output</p>
										<h3 style="color:white">

											approx. 43.31 Kg / (95.5 lbs)</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<p style="color:white">Voltage</p>
										<h3 style="color:white">
											110 V / 220 V</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<p style="color:white">Maximum BTUs Per Hour</p>
										<h3 style="color:white">
											96,000 BTU/hr</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5" style="margin-top: 40px">
					<div class="single-product-img">
						<img src="{{image17.image.url}}" alt="" style="box-shadow: 0 0 20px black;" />
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end featured section -->

	<!-- featured section right image-->
	<div class="single-product mb-15" style="background: #000; margin-top: -2px">
		<div class="container">
			<div class="row">
				<div class="col-md-5" style="margin-top: 40px">
					<div class="single-product-img">
						<img src="{{image18.image.url}}" alt="" style="box-shadow: 0 0 20px black;" />
					</div>
				</div>
				<div class="col-lg-7 d-flex align-items-center">
					<div class="featured-text">
						<h3 style="color:rgb(44, 215, 25);; justify-content: center;">
							SENTINEL-Xr20</h3>
						<div class="row" style="margin-top:90px; justify-content: center;">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<p style="color:white">Max Batch Capacity</p>
										<h3 style="color:white">
											45 lbs / (20.41 Kg)</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<p style="color:white">Maximum Hourly Roast Output</p>
										<h3 style="color:white">
											approx. 65.31 Kg / (144 lbs)</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<p style="color:white">Voltage</p>
										<h3 style="color:white">
											110 V / 220 V</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<p style="color:white">Maximum BTUs Per Hour</p>
										<h3 style="color:white">
											120,000 BTU/hr</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end featured section -->

	<!-- featured section left image-->
	<div class="single-product mb-15" style="background: #000; margin-top: -2px">
		<div class="container">
			<div class="row">

				<div class="col-lg-7 d-flex align-items-center">
					<div class="featured-text">
						<h3 style="color:rgb(44, 215, 25);; justify-content: center;">
							WARDEN-Xr30</h3>
						<div class="row" style="margin-top:90px; justify-content: center;">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<p style="color:white">Max Batch Capacity</p>
										<h3 style="color:white">
											70 lbs / (31.75 Kg)</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<p style="color:white">Maximum Hourly Roast Output</p>
										<h3 style="color:white">

											approx. 103.14 Kg / (228 lbs)</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<p style="color:white">Voltage</p>
										<h3 style="color:white">

											110 V / 220 V</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<p style="color:white">Maximum BTUs Per Hour</p>
										<h3 style="color:white">

											300,000 BTU/hr</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5" style="margin-top: 40px">
					<div class="single-product-img">
						<img src="{{image19.image.url}}" alt="" style="box-shadow: 0 0 20px black;" />
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end featured section -->

	{% endblock content %}

	<!-- footer -->
	