{% extends 'base.html' %}
{% load static %}

{% block title %}Spare-parts{% endblock title %}
{% block style %}
    .filter-items {
      cursor: pointer;
    }

    .selected {
      font-weight: bold;
    }

    .product {
      display: none;
    }

    #container {
      display: flex;
    }

    .card {
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      background: #000;
    }

    .card-title {
      color: white;
      text-align: center;
    }

    .card-text {
      color: white;
      opacity: 0.9;
      text-align: center;
    }

    #pay-now {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.5s, opacity 0.5s ease-in-out;
    }

    .card:hover #pay-now {
      visibility: visible;
      text-align: center;
      opacity: 1;
    }

    .filter {
      flex: 0 0 20%;
      background-color: #000000;
      padding: 20px;
    }

    .filter-stuffs {
      margin-top: 50px;

    }

    .filter h2 {
      color: white;
    }

    .filter-items {
      display: block;
      color: white;
      font-size: 14px;
      margin-bottom: 3px;
      cursor: pointer;
      opacity: 0.8;
    }

    .filter-items:hover {
      color: #464545;
    }

    .products {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    .product {
      border: 1px solid #000000;
      padding: 10px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      width: 30%;
      margin-right: 2%;
    }

    .product:nth-child(3n) {
      margin-right: 0;
    }

    .product img {
      max-width: 100px;
      margin-right: 10px;
    }

    /* Add this to your existing CSS styles */
@media screen and (max-width: 768px) {
  /* Styles for screens with a maximum width of 768px or smaller (typical mobile screen size) */

  #container {
    flex-direction: column;
  }

  .filter {
    flex: 1;
    margin-bottom: 20px;
    padding: 10px;
  }

  .products {
    flex: 1;
    padding: 10px;
  }

  .product {
    width: 100%;
    margin-right: 0;
  }

  .breadcrumb-text h1 {
    font-size: 24px;
  }
}


    {% endblock style %}

{% block content %}

  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg" style="background: black">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <h1>{{headings.44}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- contact form -->
  <div class="contact-from-section mt-150 mb-150" style="background: black; margin-top: 0px">
    <div class="container" id="container">
      <div class="filter" style="margin-bottom: 10px;">
        <h2>Filters</h2>
        <hr style="background-color: white;">
        <h3 style="color: white;">Category</h3>
        <div class="filter-stuffs">
          <h3 class="filter-items" data-category="">All</h3>
          <h3 class="filter-items" data-category="Ranger-Xr5">Ranger-Xr5</h3>
          <h3 class="filter-items" data-category="Raven-Xr15">Raven-Xr15</h3>
          <h3 class="filter-items" data-category="Genesis-Xr3">Genesis-Xr3</h3>
          <h3 class="filter-items" data-category="Sentinel-Xr20">Sentinel-Xr20</h3>
        </div>
      </div>
      <div class="products">
        {% for sp in spare %}
        <div class="product" data-category="{{ sp.toolCategory }}">
          <div class="card" style="width: 18rem;">
            <a href="/spare-parts/{{ sp.id }}">
              <img class="card-img-top" src="{{ sp.image.url }}" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ sp.name }}</h5>
              <p class="card-text" id="thisisprice">${{ sp.price }}</p>
              <a href="{% url 'cart_add' sp.id %}" class="btn btn-success" id="pay-now"
                style="border-radius: 20px; border: 2px solid white; color:#000; padding-right:30px; padding-left: 30px;">
                Add to cart
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
  </div>
  

  {% endblock content %}



  