{% extends 'base.html' %}
{% load static %}

{% block title %}Warden-xr30{% endblock title %}

	{% block style %}
    @media only screen and (max-width: 480px) {
      .list-section{
        width: 31%;
      }
    }

    {% endblock style %}

    {% block content%}

  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg" style="background: #000; padding-bottom:0px ;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <h1>
              Warden-Xr30</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- featured section -->
  <div class="single-product" style="background: #000; margin-top: -2px">
    <div class="container">
      <div class="abt-bg" style="background:#000; display: flex;">
        <img src="{{image19.image.url}}" alt="" class="center" style="margin-top: -130px; width: 90%; height: auto;">
      </div>
    </div>
  </div>
  </div>
  <!-- end featured section -->


  <!-- the feature row -->
  <div class="list-section pb-80" style="background-color:black; position: relative;z-index: 2; justify-content: center; align-items: center;margin-top: -126px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="list-box d-flex justify-content-center align-items-center">

            <div class="content">
              <h3 style="color:white;; text-align: center;">31.75 Kilograms</h3>
              <p style="color:white; text-align: center;">Maximum Batch Size</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="list-box d-flex justify-content-center align-items-center">

            <div class="content">
              <h3 style="color:white; text-align: center;">Infrared Technology</h3>
              <p style="color:white; text-align: center;">Dual Burners for efficiency
                and a more consistent roast</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="list-box d-flex justify-content-center align-items-center">

            <div class="content">
              <h3 style="color:white; text-align: center;">103.4 Kilograms
              </h3>
              <p style="color:white; text-align: center;">Per Hour</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="list-box d-flex justify-content-center align-items-center">

            <div class="content">
              <h3 style="color:white; text-align: center;">Double Walled Drum</h3>
              <p style="color:white; text-align: center;">Consistent Roasts</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="list-box d-flex justify-content-center align-items-center">

            <div class="content">
              <h3 style="color:white; text-align: center;">USB Data Port</h3>
              <p style="color:white; text-align: center;">Roasting Profile Software</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="list-box d-flex justify-content-center align-items-center">

            <div class="content">
              <h3 style="color:white; text-align: center;">110 V - 220 V
              </h3>
              <p style="color:white; text-align: center;">Power Supply</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- -------------------- -->

  <div class="single-product mt-80 mb-150" style="background: #000;">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12" style="margin-top: 45px;">
          <div class="single-product-content">
            <h3>
              <span class="orange-text" style="color: white">
                <span style="font-size: 18px;">Reliability</span><br>
                <span style="color: rgb(44, 215, 25);">You Deserve</span><br>
                <span style="font-size: 16px;">All of our roasters are hand made and custom built to your exact specifications.</span>
              </span>
            </h3>
            <div style="color: white; border: 2px solid white; border-radius: 30px; padding: 45px;">
              <h3 style="color: white; justify-content: center; text-align: center;">Specifications</h3>
              <ul>
                <li>Specially designed paddles keep mixing consistent</li>
                <li>Automated two-stage temperature controller </li>
                <li>Infrared Burner Technology</li>
                <li>Roast & cool simultaneously with dual motors</li>
                <li>Independent drum airflow motor to allow consistent roast/airflow and prevent airflow disruption from
                  cooling</li>
                <li>Independent cooling motor to allow efficient cooling without disrupting drum airflow</li>
                <li>Includes independent cyclone for max chaff collection</li>
                <li>Accessible chaff bin for ease of emptying</li>
                <li>Hinged sidewalls to make cleaning easy & simple</li>
                <li>Digital temperature and time display to make roasting simple</li>
                <li>100% designed & manufactured in the U.S.A.</li>
              </ul>
            </div>
            <div class="text-center">
              <a class="boxed-btn mt-5 d-inline-block" style="padding: 5px 10px; cursor: pointer;">Order Now</a>
              <a class="boxed-btn mt-5 d-inline-block" style="padding: 5px 10px; cursor: pointer;">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        <div class="col-md-5" style="margin-top: 40px">
          <div class="single-product-img">
            <img src="{{image10.image.url}}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------technical info----------------- -->

  <div class="list-section pb-80" style="background-color:black;">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="list-box d-flex justify-content-center align-items-center">

            <div class="content">
              <h3 style="color:white;; text-align: center;">Technical Information</h3>
              <div style="color:white; text-align: left;">
                <ul>
                  <li>Dimensions, Maximum Including Cyclone: 101.5" x 103.5" x 78"</li>
                  <li>Primo Factory Tested (PFT) Prior to Shipping.</li>
                  <li>Increased Burner Responsiveness with Infrared Technology.</li>
                </ul>
              </div>
              <div class="hero-btns">
                <a href="{% url 'contact' %}" class="bordered-btn">Download Brochure</a>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="list-box d-flex justify-content-center align-items-center">

            <div class="content">
              <h3 style="color:white; text-align: center;visibility: hidden;">Infrared Technology</h3>
              <p style="color:white; text-align: center;">Whether you’re just getting started or ready to expand, our
                friendly and highly-experienced team will match you with the perfect roasting solution to achieve
                optimal

                efficiency and profitability.</p>
              <div style="margin-top:80px;">
                <p style="color:white; text-align: center;">Warranty: Two Year Warranty on all Parts, Components, and
                  Machinery.​</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="list-box d-flex justify-content-center align-items-center">

            <div class="content">
              <h3 style="color:white; text-align: center;">Additional Options
              </h3>
              <div style="color:white; text-align: left;justify-content: center;">
                <ul>
                  <li>Custom Design Packages Available.

                  </li>
                  <li>Manual Air Flow Options for Ultimate Control.</li>
                  <li>Additional Thermocouples for Superior Results & Consistency.</li>
                  <li>Roasting Profile Software.</li>
                </ul>
                <div class="hero-btns">
                  <a href="{% url 'comparison' %}" class="bordered-btn">Roaster Comparison Chart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ----------last section---------------- -->

  <div class="single-product mt-80 mb-150" style="background: #000;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-12" style="margin-top: 45px;">
          <div class="single-product-content">
            <div style="color: white; border: 2px solid white; border-radius: 30px; padding: 45px; height: auto;">
              <h2 style="color: white;justify-content: center;text-align: center;">
                STANDARD 
                Warden-Xr30</h2>
              <h3 style="color: white;justify-content: center;text-align: center;">Instant Quote</h3>
              <ul>
                <li>Specially designed paddles keep mixing consistent</li>
                <li>Automated two-stage temperature controller </li>
                <li>Infrared Burner Technology</li>
                <li>Roast & cool simultaneously with dual motors</li>
                <li>Independent drum airflow motor to allow consistent roast/airflow and prevent airflow disruption from
                  cooling</li>
                <li>Independent cooling motor to allow efficient cooling without disrupting drum airflow</li>
                <li>Includes independent cyclone for max chaff collection</li>
                <li>Accessible chaff bin for ease of emptying</li>
                <li>Hinged sidewalls to make cleaning easy & simple</li>
                <li>Digital temperature and time display to make roasting simple</li>
                <li>100% designed & manufactured in the U.S.A.</li>
                <li>All units come standard in either (White or Black). The Designs Package additional cost* gives you
                  the ability to pick two colors of your choice and the customization of your trim, body, cyclone
                  colors, and logo addition.</li>
                </ul>
              </div>
              <div class="hero-btns text-center">
                <a href="{% url 'instantquote' %}" class="boxed-btn">Instant Quote</a>
              </div>
            </div>
          </div>


          <div class="col-lg-6 col-md-7 col-sm-12" style="margin-top: 45px;">
            <div class="single-product-content">
              <div style="color: white; border: 2px solid white; border-radius: 30px; padding: 35px; height: auto;">
              <h2 style="color: white;justify-content: center;text-align: center;">
                CUSTOM 
                Warden-Xr30</h2>
              <h3 style="color: white;justify-content: center;text-align: center;">Schedule a Call</h3>
              <ul>
                

                  <li>Specially designed paddles keep mixing consistent</li>
                <li>Automated two-stage temperature controller with manual override for adjustments done on the fly.
                </li>
                <li>VFD's come standard on all Xr15, 20, and 30 Kilo units giving you the ability to control airflow
                  going into your drum. </li>
                <li>Infrared Burner Technology</li>
                <li>Roast & cool simultaneously with dual motors</li>
                <li>Independent drum airflow motor to allow consistent roast/airflow and prevent airflow disruption from
                  cooling</li>
                <li>Independent cooling motor to allow efficient cooling without disrupting drum airflow</li>
                <li>Includes independent cyclone for max chaff collection</li>
                <li>Accessible chaff bin for ease of emptying</li>
                <li>Hinged sidewalls to make cleaning easy & simple</li>
                <li>Digital temperature and time display to make roasting simple</li>
                <li>100% designed & manufactured in the U.S.A.

                </li>
                <li>All units come standard in either (White or Black). The Designs Package additional cost* gives you
                  the ability to pick two colors of your choice and the customization of your trim, body, cyclone
                  colors, and logo addition.</li>
                </ul>
              </div>
              <div class="hero-btns text-center">
                <a href="{% url 'contact' %}" class="boxed-btn">Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  {% endblock content %}